@charset "UTF-8";





/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

navbar {
    height: 1rem;
}

.logo {
    max-width: 200px;
    height:150px;
    width: auto;
    padding-bottom:20px;

}

#inicio {
    background: url(images/home.jpg);
    background-position: center;
    background-repeat: none;
    background-size: auto;
}

.hero {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#sobre {
    background-color: #343a40;
    color: #fff;
    text-align: center;

}

p#sobre{
    text-align: justify;
}

/* Estilo base do formulário */
.formulario {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo dos labels */
  .formulario label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Estilo dos inputs e textarea */
  .formulario input, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* Foco nos inputs e textarea */
  .formulario input:focus, .formulario textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  /* Placeholder color ao focar */
  .formulario input::placeholder, .formulario textarea::placeholder {
    color: #aaa;
    font-size: 14px;
  }
  
  .formulario input:focus::placeholder, .formulario textarea:focus::placeholder {
    color: transparent;
  }
  
  /* Estilo específico para o campo de mensagem */
  .formulario textarea {
    height: 150px;
    resize: none;
  }
  

footer {
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}



.btn {
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #0056b3;
    color: white;
}

.btn:hover {
    background-color: #043468;
    color: #fff;

}



